section {
  background: #0116273d;

border: 1.5px solid #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

@apply flex flex-col items-center justify-center p-4 gap-5;

& header {
  @apply text-white font-f1 font-bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

& select,& option {
  @apply w-[80%] rounded-full border-solid border-[1.5px] border-[rgba(0,0,0,0.7)] bg-[rgba(217,217,217,0.3)]   p-2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
& option {
  @apply h-[20px];
}
}
