.register_form {
  & header {
    @apply text-white font-f1 font-bold  lg:text-[3rem] md:text-[2.5rem]  sm:text-[2rem];

  }
  & form {
    @apply flex flex-col gap-4 w-[80%];
    & .register_group {
      @apply flex flex-col gap-1 w-full;
      & label {
        @apply text-white font-f1 text-[20px] self-end;
        @apply transition-all duration-300 ease-in-out;
      }
      & .control {
        @apply rounded-full  py-4 px-6 font-f1 md:text-[22px] sm:text-[18px] text-white flex border-solid  border-[1px] border-transparent items-center;
        @apply transition-all duration-300 ease-in-out;
        background: rgba(69, 79, 87, 0.7);
        & input {
          @apply flex-1 border-none bg-transparent outline-transparent w-full;
          &:focus {
            @apply outline-transparent border-transparent;
            outline: none;
          }
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px #3b434d inset !important;
          color: #0a2439
        }
        & mat-icon {
          @apply cursor-pointer;
        }
      }
      & small {
        @apply transition-all duration-300 ease-in-out opacity-0 font-f1 ;
      }
      &.invalid {
        & label {
          @apply text-red-500;
          @apply transition-all duration-300 ease-in-out;
        }
        & .control {
          @apply text-red-500 border-red-500;
          @apply transition-all duration-300 ease-in-out;
        }
        & small {
          @apply text-red-500 opacity-100 ;
          @apply transition-all duration-300 ease-in-out;
        }
      }
    }
  }

  & p {
    @apply text-white font-f1 lg:text-[24px] md:text-[20px] sm:text-[18px];
    & a {
      @apply text-[#35F26A] cursor-pointer;
    }
  }
  & button.register {
    @apply bg-[#3BC85BB2] border-black text-[24px] w-[200px] h-[56px] border-solid border-[1.5px];
  }
}
