<ng-template #template>
  <section>
    <div class="register_form">
      <header>أهلا بعودتك</header>
      <form [formGroup]="form">
        <div class="register_group " [class.invalid]="controls['email'].invalid && controls['email'].errors && controls['email'].touched">
          <label>Username *</label>
          <div class="control">
            <input placeholder="اسم المستخدم" formControlName="email">
          </div>
          <small>error</small>
        </div>

        <div class="register_group" [class.invalid]="controls['password'].invalid && controls['password'].errors && controls['password'].touched">
          <label>Password *</label>
          <div class="control">
            <input placeholder="كلمة المرور" formControlName="password" [type]="hide ? 'password': 'text'">
              <mat-icon (click)="hide = !hide" matRipple>{{  hide ?'visibility' : 'visibility_off'}}</mat-icon>

          </div>
          <small>error</small>
        </div>


      </form>
      <p>
        ليس لديك حساب؟ <a routerLink="/register/sign-up"> سجل الان</a>
      </p>
      <button mat-raised-button class="register">
        تسجيل الدخول
      </button>
    </div>
  </section>
</ng-template>
<pagelayout [template]="template"></pagelayout>
