<ng-template #side>
  <div class="container_side">
  <img src="../../../../../assets/images/logo.png" routerLink="/home">
  <div class="side_menu">
    <input class="sp_input_search" placeholder="بحث">

    <ul class="subject_menu">
      <ng-container *ngFor="let sub of subjects$ | async">
        <li class="subject" [class.active]="dashSrv.currentSubject?.id == sub.id"  (click)="selectSubject(sub)">
          <span class="icon"><mat-icon svgIcon="javascript"></mat-icon> </span>
          <span class="name">{{sub.title}}</span>
          <span *ngIf="isEdit && dashSrv.currentSubject?.id == sub.id">
            <mat-icon matRipple (click)="subjectDialog('edit', sub)">edit</mat-icon>
           <mat-icon matRipple (click)="deleteSubject(sub.id!)" color="warn">delete</mat-icon>
          </span>
        </li>
      </ng-container>
      <ng-container *ngIf="isAdmin && isEdit">
        <li class="subject" (click)="subjectDialog()">
          <span class="name"> اضافة موضوع +</span>
        </li>
      </ng-container>
    </ul>

    <div class="home_section" matRipple routerLink="/home">
      الصفحة الرئيسية <mat-icon>fast_rewind</mat-icon>
    </div>
  </div>
</div>
</ng-template>
<ng-template #nav>
  <mat-toolbar>
    <div class="progress_section">
      <button mat-icon-button (click)="toggel()" class="sidebutton">
        <mat-icon>menu</mat-icon>
      </button>

      <span *ngIf="!isAdmin">
        تقدمك الحالي
      </span>

      <div class="user_progress" *ngIf="!isAdmin">
        <div class="number">
          {{progress?.total_solved || 0}} / {{progress?.total || 0}}
        </div>
        <mat-progress-spinner
        class="progress"
        color="primary"
        mode="determinate"
        [value]="progress?.value || 0">
    </mat-progress-spinner>
      </div>
    </div>
    <div class="eidt" *ngIf="isAdmin">

      <mat-slide-toggle [(ngModel)]="isEdit">edit</mat-slide-toggle>
    </div>
    <div class="user" matRipple routerLink="/profile">
      <div> {{user.username}}</div>
      <mat-icon>person</mat-icon>
    </div>
  </mat-toolbar>
</ng-template>
<ng-template #page>

<!--
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button> -->

  <section class="content_grid">
    <div class="content">
      <level-content [isEdit]="isEdit"  />
    </div>
    <div class="block-2">
      <tab-of-content />
      <level-section [isEdit]="isEdit" [lessons]="lessons" (selectedLesson)="currentLesson = $event"/>
    </div>
  </section>

</ng-template>

<pagelayout [template]="page" [sideTemplate]="side" [navTemplate]="nav" [open]="!isSmallScreen">

</pagelayout>
<!-- <mat-drawer-container autosize class="admin">
  <mat-drawer #drawer class="" mode="side" opened>

  </mat-drawer>

  <div>



  </div>

</mat-drawer-container> -->
